# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env
.env.*

# Poetry
# (estos SÍ se suben)
# pyproject.toml
# poetry.lock

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Base de datos local
*.sqlite3

# Archivos temporales
*.tmp
*.swp